<h2>Lista de postagem: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-dark">Nova postagem</button></a>
<a href="/admin/postagens"><button class="btn btn-dark">Atualizar</button></a>

{{#each postagens}}
    <div class="card mt-3">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-4">Deletar postagem</button></a>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada</p>
{{/each}}